// Global variables (non-vuetify)

// Global styles
h1, h2, h3, h4, h5, h6, p {
  color: #333;
}

#app {
  background: #BBDEFB;
  // background: linear-gradient(0deg, rgba(46,125,50,1) 0%, rgba(76,175,80,1) 55%, rgba(129,199,132,1) 100%);

  header, footer {
    background-color: #FFE57F;
  }
}

.headline {
  color: #fff;

  h2 {
    margin: 0 auto;
  }
}

.left, .right {
  display: inline-block;
  width: 49%;
}
