// Global variables (non-vuetify)
$green-primary: #009245;
$purple-lite: #8586A8;
$purple-dark: #39375F;

// Global styles
.headline {
  background-color: lightgreen;
  color: #444;

  h2 {
    margin: 0 auto;
  }
}

.left, .right {
  display: inline-block;
  width: 49%;
}
