// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The Vuetify variables you want to modify
// $font-size-root: 20px;
.v-card__title {
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: center;
  word-break: unset;
}